@media only screen and (max-width: 912px) {
  header .donat {
    width: 72px;
  }

  header .atlantic {
    width: 35px;
  }

  section:not(#composition) {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  section:not(#composition) {
    max-width: 90%;
  }

  section:not(#top, #composition) {
    padding: 46px 0;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .section-right.image {
    order: 1;
  }

  .section-left.text {
    order: 2;
  }

  section#top {
    height: calc(100vh - 44px);
  }

  #about .section-right img {
    width: 65vw;
  }

  /* Section COMPOSITION */
  #composition {
    width: 100%;
    overflow-x: clip;
  }

  .composition-section-content {
    flex-direction: column;
    align-items: center;
  }

  .composition-section-content .section-left span {
    width: 34%;
    text-align: center;
  }

  .composition-section-content .section-left span p {
    font-size: 12px;
  }

  .composition-section-content .section-left img {
    width: 60px;
    padding: 8px;
  }

  .composition-section-content .section-right {
    width: 90%;
    margin-left: 0;
  }

  /* Section MINERALS */
  #minerals {
    background: none;
  }

  /* Section DOWNLOAD */
  #download .section-left {
    min-width: 100%;
    justify-content: center;
  }

  #download .section-left .iphone {
    width: 30vw;
    position: unset !important;
  }
  #download .glass,
  #download .info-bubble.download,
  #download .info-bubble.cart,
  #download .info-bubble.bell {
    display: none;
  }

  #download .icon-container {
    justify-content: space-around;
  }

  #download .icon-container .icon {
    margin: 20px 0 0 0;
  }

  /*  FOOTER */
  footer {
    flex-direction: column;
    font-size: 12px;
  }

  footer .section-right {
    order: 1;
    margin-top: 12px;
  }

  footer .section-left {
    order: 2;
    margin-top: 12px;
  }
}
